* {
  box-sizing: border-box;
  margin: 0;
}

.hidden {
  display: none;
}

.main-list {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  max-width: 640px;
  margin: 20px auto;
}

.to-do-container {
  list-style: none;
  padding: 0;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.h-list > h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
}

#add-new {
  width: 100%;
  border: none;
}

#add-new::placeholder {
  font-style: italic;
}

i {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.24);
}

.add-new > i {
  transform: rotate(90deg);
}

#clear-completed {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 20px;
}

#addBtn {
  cursor: pointer;
}

.icon-task {
  cursor: move;
}

.ip-task::placeholder {
  color: #000;
}

.strike {
  text-decoration: line-through;
}
